URxvt.font: xft:System San Francisco Display:size=10, xft:Menlo for Powerline:size=12, xft:fontawesome-webfont:size=12
URxvt.letterSpace: -4

URxvt*termName:         rxvt
URxvt*foreground:       #ffffff
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0000/8800

URxvt*scrollBar:        false
URxvt*perl-lib:         /usr/lib/URxvt/perl/
URxvt.perl-ext-common:      default,matcher,clipboard,url-select,keyboard-select
URxvt*urlLauncher:      /usr/bin/firefox
URxvt.url-select.launcher:  /usr/bin/firefox
URxvt*matcher.button:   1
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            full


URxvt.transparent:   false
URxvt.tintColor:     white
URxvt.shading:      5

Rxvt.perl-ext-common: tabbed

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC


Xcursor.size: 32
